@import '../../scss/variables';

.skills_box_items {
  display: grid;
  padding: rem(10);
  @media(max-width: $sm){
    grid-template-columns: 100%;
    gap: rem(10);
  }
  @media(min-width: $sm) {
    grid-template-columns: repeat(2,1fr);
    gap: rem(10);
    .other {
      grid-column: 1 / 3;
    }
  }
  @media(min-width: $md) {
    grid-template-columns: repeat(3,1fr);
    gap: rem(10);
    .other {
      grid-column: 3 / 4;
    }
  }
}
.skills {
  background-color: $accent;
  // color: $light;
  max-width: 100%;
  overflow: hidden;
  &_title {
    @include title2;
  }
  &_box {
    background-color: $primary;
    color: $light; 
    width: 100%;
    padding: rem(20);
    border-radius: rem(20);
    box-shadow: 0 0 rem(4) $primary;
    &_title {
      text-align: center;
      padding-bottom: rem(20);
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rem(20);
      &_name {
        font: {
          size: rem(14);
          weight: 600;
        }
        width: rem(100);
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &_num-box {
        width: 100%;
        height: rem(12);
        border: rem(2) solid $light;
        border-radius: rem(10);
        &_per {
          height: 100%;
          background-color: $light;
          border-radius: rem(10);
        }
      }
      &_num-per {
        width: 50px;
        text-align: center;
        font: {
          size: rem(14);
          weight: 600;
        }
      }
    }
  }
}