@import '../../scss/variables';
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: rem(500);
  background-color: $warning;
  border-bottom: rem(4) dashed $primary;
  .header_text {
    text-shadow: 0 0 rem(2) $dark,0 0 rem(2) $dark;
    h1 {
      font-size: rem(50);
      color: $primary;
    }
    p {
      font-size: rem(25);
      color: $dark;
    }
  }
  img {
    width: rem(400);
    height: rem(400);
    border-radius: rem(50);
    filter: drop-shadow(0 0 rem(5) $primary);
    // background-image: linear-gradient(to right, $primary, $primary);
    background-image: url('/bg-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    border: rem(14) solid $light;
  }
  @media(max-width: $sm) {
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: rem(450);
    img {
      width: rem(300);
      max-width: 100%;
      height: rem(300);
      border-radius: 50%;
      margin-top: rem(20);
    }
    .header_text {
      max-width: 100%;
      h1 {
        font-size: rem(30);
        white-space: nowrap;
        margin-bottom: rem(10);
      }
      p {
        font-size: rem(20);
      }
    }
  }
  padding: 20px;
}