@import './functions';
// grid  	540px 	720px 	960px 	1140px 	1320px
$sm: rem(540);
$md: rem(720);
$lg: rem(960);
$xl: rem(1140);
$xxl: rem(1320);

// colors
$accent: #00D4AA;
$dark: #1A1A2E;
$light: #F8F9FA;
$primary: #0066FF;
$success: #16A34A;
$bg-1: #F5F6FA;
$warning: #E9EEF8;

// fonts
$Poppins: 'Poppins', sans-serif;

